<h3><i class="fas fa-book-reader"> StoryBooks</i></h3>
<div class="section">
    <p class="lead">Create private and public storries of your own choice!</p>

</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Login with Google
    </a>
</div>